# Виртуальное окружение Python
venv/

# Кэшированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Базы данных
*.sqlite3
*.db

# Системные файлы macOS
.DS_Store

# Файлы окружения
.env

# Загруженные пользователями файлы
Uploads/
uploads/

# Файлы IDE
.idea/

# Временные файлы
*.log